extends ./layout/commom

block content
    .row
        // Earnings (Monthly) Card Example
        .col-xl-3.col-md-6.mb-4
            .card.border-left-primary.shadow.h-100.py-2
                .card-body
                    .row.no-gutters.align-items-center
                        .col.mr-2
                            .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1
                                | Manager Product
                            .h5.mb-0.font-weight-bold.text-gray-800 $40,000
                        .col-auto
                            i.fas.fa-calendar.fa-2x.text-gray-300
                             // Earnings (Monthly) Card Example
        .col-xl-3.col-md-6.mb-4
            .card.border-left-primary.shadow.h-100.py-2
                .card-body
                    .row.no-gutters.align-items-center
                        .col.mr-2
                            .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1
                                | Earnings (Monthly)
                            .h5.mb-0.font-weight-bold.text-gray-800 $40,000
                        .col-auto
                            i.fas.fa-calendar.fa-2x.text-gray-300
                             // Earnings (Monthly) Card Example
        .col-xl-3.col-md-6.mb-4
            .card.border-left-primary.shadow.h-100.py-2
                .card-body
                    .row.no-gutters.align-items-center
                        .col.mr-2
                            .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1
                                | Earnings (Monthly)
                            .h5.mb-0.font-weight-bold.text-gray-800 $40,000
                        .col-auto
                            i.fas.fa-calendar.fa-2x.text-gray-300

    h1 Hello admin
    a(href="/users/user")  Manage user
    h1 Manage Product 
    a(href="/productsmanager") Manage product
