.sale_shop {
  border: 1px dashed #d33;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  display: inline-block;
  border-radius: 5px;
}
.sale_shop strong {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}
.sale_shop ul li {
  list-style: none;
  line-height: normal;

  margin-bottom: 10px;
}
.sale_shop ul{


padding-left: 0;
}