extends ../layouts/commom

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/')
                            i.fas.fa-home
                            |   Home
                    li.breadcrumb-item
                        a(href='/thanhtoan') Thanh to&aacute;n
    .row
        .col-md-8.mb-4
            // Section: Checkout form
            section.shadow-5.p-4
                form(action="" method="post") 
                    // 2 column grid layout with text inputs for the first and last names
                    .row.mb-4
                        .col
                            .form-outline
                                label.form-label(for='form6Example1' style='margin-left: 0px;') Họ Tên
                                input#form6Example1.form-control(type='text' name ="userName" )
                                
                                .form-notch
                                    .form-notch-leading(style='width: 9px;')
                                    .form-notch-middle(style='width: 68.8px;')
                                    .form-notch-trailing
                                .form-notch
                                    .form-notch-leading(style='width: 9px;')
                                    .form-notch-middle(style='width: 68.8px;')
                                    .form-notch-trailing
                    // Text input
                    // Text input
                    .form-outline.mb-4
                        label.form-label(for='form6Example4' style='margin-left: 0px;') Địa Chỉ
                        input#form6Example4.form-control(type='text' name ="address")
                        
                        .form-notch
                            .form-notch-leading(style='width: 9px;')
                            .form-notch-middle(style='width: 55.2px;')
                            .form-notch-trailing
                        .form-notch
                            .form-notch-leading(style='width: 9px;')
                            .form-notch-middle(style='width: 55.2px;')
                            .form-notch-trailing
                    // Email input


                    .form-outline.mb-4
                        label.form-label(for='form6Example4' style='margin-left: 0px;') số điện thoại
                        input#form6Example4.form-control(type='text' name='phone')

                        .form-notch
                            .form-notch-leading(style='width: 9px;')
                            .form-notch-middle(style='width: 55.2px;')
                            .form-notch-trailing
                        .form-notch
                            .form-notch-leading(style='width: 9px;')
                            .form-notch-middle(style='width: 55.2px;')
                            .form-notch-trailing
                    // Email input

                    // Message input
                    .form-outline.mb-4
                        input#form6Example7.form-control(rows='4' name= "productId" value= productId._id, style='display:none')
                        .form-notch
                            .form-notch-leading(style='width: 9px;')
                            .form-notch-middle(style='width: 131.2px;')
                            .form-notch-trailing
                        .form-notch
                            .form-notch-leading(style='width: 9px;')
                            .form-notch-middle(style='width: 135.2px;')
                            .form-notch-trailing

                    // Checkbox
                    .form-check.d-flex.justify-content-center.mb-4
                        input#form6Example8.form-check-input.me-2(type='checkbox' value='' checked='')
                        label.form-check-label(for='form6Example8')
                            | X&aacute;c nh&#x1EAD;n &dstrok;&#x1A1;n h&agrave;ng
                    // Submit button
                    button.btn.btn-primary.btn-block.mb-4(type='submit')
                        | Mua h&agrave;ng
            // Section: Checkout form
        .col-md-4.mb-4
            // Section: Summary
            section
                button.btn.btn-success.btn-block.mb-4.ripple-surface(type='button')
                    | H&oacute;a &Dstrok;&#x1A1;n
                .card
                    .card-header.bg-white.text-center.py-3
                        h5.mb-0.fw-bold T&#x1ED5;ng s&#x1EA3;n ph&#x1EA9;m
                    .card-body
                        ul
                            li
                                strong=productId.name + ":"+ productId.price +"VND"
                        
                    .card-footer.bg-white.d-flex.justify-content-between.py-3
                        strong Total amount:
                        strong $199
            // Section: Summary
