extends ../admin/layout/commom

block content
    body

        h1 Creater Product
        .container
            // làm tiếp 0i, oki babe
            if errors 
                each error in errors
                    .alert.alert-danger= error
            form(method="POST" acction="" enctype="multipart/form-data")
              

                //- .form-group.row.mb-4
                //-     label.col-form-label.text-md-right.col-12.col-md-3.col-lg-3 Category
                //-     .col-sm-12.col-md-7
                //-         select.form-control.selectric(name="categoryId", required)
                //-             //- each c in category
                //-             //-     option(value= c._id)= c.name
                //-             h1=categoryId
                br
                .form-outline.mb-4
                    // name của input đâu ?,
                    label.form-label(for='form4Example1') Name Product
                    input#form4Example1.form-control(type='text', name = "name", value= values ? values.name : '')

                // Email input
                .form-outline.mb-4
                    label.form-label(for='form4Example2') Price
                    input#form4Example2.form-control(type='text'  name = "price", value= values ? values.price : '')



                // Message input
                .form-outline.mb-4
                    label.form-label(for='form4Example3') Content
                    textarea#form4Example3.form-control(rows='4', name = "content", value= values ? values.content : '')


                // Submit button
                .form-file.mb-4
                    input#customFile.form-file-input(type='file', name = "avatar")
                    label.form-file-label(for='customFile')
                        span.form-file-text Choose file...
                        span.form-file-button Browse
                // đây là không có file gửi lên. thì dùng form bt đc
                // muốn tải file l3n phải có th3m trơờng mã hóa file 0ấy
                // phải dùng th3m 1 cái npm nữa hỗ trợ mã hóa nhé
                button.btn.btn-primary.btn-block.mb-4(type='submit') Add New
        a(href="/productsmanager") View all Product
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.js')        