<!-- ---- Include the above in your HEAD tag -------- -->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' rel='stylesheet'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/test.css">

</head>

<body>

    <div class="sale_shop">
        <p><strong>CHÍNH SÁCH KHI MUA HÀNG</strong></p>
        <ul>
            <li> <i class="fas fa-check-circle" style="color: rgb(11, 202, 11);"></i> Nhận oder theo mẫu quý khách hàng
                yêu cầu.</li>
            <li><i class="fas fa-check-circle"  style="color: rgb(11, 202, 11);"></i> Miễn phí ship hàng toàn quốc cho
                đơn hàng trên 2 triệu.</li>
            <li> <i class="fas fa-check-circle"  style="color: rgb(11, 202, 11);"></i> Với đơn hàng dưới 2 triệu, phí ship
                đồng giá 30k.</li>
            <li><i class="fas fa-check-circle"  style="color: rgb(11, 202, 11);"></i> Nhận hàng và kiểm tra trước khi
                thanh toán.</li>
            <li><i class="fas fa-check-circle" style="color: rgb(11, 202, 11);"></i> Giao hàng nhanh 60 phút trong nội
                thành Hà Nội.</li>
        </ul>
    </div>
    <Figcaption></Figcaption>
</body>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</html>